.calculator {
    background-color: lightpink;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    margin: 0 10px 10px 10px;
    text-align: left;
}

.dark-mode .calculator {
    background-color: #171923;
}

.displayDiv {
    height: 34px;
    background-color: white;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius: 4px;
    max-width: 176px;
}

.text {
    color: #2D3748;
}

.dark-mode .text {
    color: white;
}
