.calculator {
    background-color: lightpink;
    padding: 10px;
    display: inline-block;
    border-radius: 4px;
    margin: 0 10px 10px 10px;
    text-align: left;
}

.displayDiv {
    height: 34px;
    background-color: white;
    padding: 4px;
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius: 4px;
    max-width: 176px;
}

